<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442921662454-5ik97ud57t347mdgh4sdur7mktroppc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442921662454-5ik97ud57t347mdgh4sdur7mktroppc3</string>
	<key>API_KEY</key>
	<string>AIzaSyCUh5H0whDo03DU05dSNa6p1ppzPbFr15Y</string>
	<key>GCM_SENDER_ID</key>
	<string>442921662454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AB.Thoughts</string>
	<key>PROJECT_ID</key>
	<string>thoughts-25e74</string>
	<key>STORAGE_BUCKET</key>
	<string>thoughts-25e74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442921662454:ios:646207ba77d006e0a2b9d7</string>
</dict>
</plist>